# Math operations and expressions

## Addition

Addition works as expected in any programming language. 
Adding two integers, results in an integer.

In [ ]:
1+1

Adding float numbers results in a floar number

In [ ]:
1.2 + 4.3

In [ ]:
1.0 + 4.0

## Subtraction

Same goes for subtraction

In [ ]:
4-2

In [ ]:
2-1

In [ ]:
3.2 + 1.2

## Multiplication

Same goes for multiplication as well

In [ ]:
4*9

In [ ]:
4.0*9

## Division

However, division always results in a float number

In [ ]:
8/4

In [ ]:
7/2

Division by 0 results in an error

In [ ]:
1/0

## Power

Power in Python is expressed using **

In [ ]:
2**3

In [ ]:
2.0**3

## Remainder

In [ ]:
10%3

In [ ]:
10%2.4

## Order of Operations

It goes like this: 
- Power 
- Multiplication and division
- Addition and subtraction

In [ ]:
10+2*3

In [ ]:
(10+2)*3

In [ ]:
10+2**3

In [ ]:
(10+2)**3

In [ ]:
10*2**3

In [ ]:
10+2**3/2

## Rounding

In [ ]:
round(10.223)

In [ ]:
round(9.5)

In [ ]:
round(4.2567,2)

## Float representation in Python

Read more here: 
https://docs.python.org/2/tutorial/floatingpoint.html

In [ ]:
10/3

In [ ]:
0.1+0.2

In [ ]:
(13**2)**0.5

In [ ]:
(13**0.5)**2

# Variables

Note that the assigment statement does not have an output

In [ ]:
x = 2
y = 1.2

In [ ]:
x

In [ ]:
y

Although the variable types was not specified, it was inferred from the assignment.

In [ ]:
type(x)

In [ ]:
type(y)

Changing the value of a variable

In [ ]:
x+=1
print(x)

# Loops

In [ ]:
for i in range(10):
  print(i)

Note that proper indentation is required

In [ ]:
for i in range(10):
print(i)

In [ ]:
j = 0
while j<10: 
  j+=1 
  print(j)

# If statements

In [ ]:
password = 'Aa1234'
if password == 'Aa1234': 
  print('access granted')

In [ ]:
name = "Ali"
if name!="Ahmad": 
  print("You're not supposed to be here")
else: 
  print('Hi Ahmad')

In [ ]:
age = 19 
if age>10: 
  print("You may ride")

In [ ]:
age = 10
if age>10: 
  print("You may ride")
else: 
  print("Sorry, you can not be on this ride")

In [ ]:
age = 10
if age>=10: 
  print("You may ride")
else: 
  print("Sorry, you can not be on this ride")

In [ ]:
age = 99
if 10<age<60: 
  print("You may ride")
else: 
  print("Sorry, you can not be on this ride")

In [ ]:
age = 12
condition = "unhealthy"
if 10<age<60 and condition == "healthy": 
  print("You may ride")
else: 
  print("Sorry, you can not be on this ride")

# Strings

String variables can be assigned using single or double quotes

In [ ]:
x = "aa"

In [ ]:
x

You can use either, but you must be consistent

In [ ]:
x = "ab'

I personally prefer to use single quotes, unless I need to use them in the text

In [ ]:
x = "I'm done here"

In [ ]:
x

You can convert a number to a string

In [ ]:
str(10)

or convert a string to a number

In [ ]:
int("1")

In [ ]:
float("2.3")

Concatenate strings using + sign

In [ ]:
"Hello" + "world"

What would this do?

In [ ]:
"Hello" + 10

In [ ]:
"Hello"*10

# Tuples

"A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets."

https://www.tutorialspoint.com/python/python_tuples.htm

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

In [ ]:
print(tup3[1])

In [ ]:
tup3[2] = "V"

# Lists

In [ ]:
[1,2,3,4]

In [ ]:
type([1,2,3,4])

In [ ]:
[1,2,3] + [3,2,4]

In [ ]:
x = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
x[1]

In [ ]:
x[2][1]

In [ ]:
x[-1]

In [ ]:
x[-2]

In [ ]:
x = [1,2,3]
y = x 
y[-1] = 10
print(x)

# Sets

In [ ]:
{1,2,3,3,4}

In [ ]:
x = set([1,2,3,4,5,5,5,5,5,5])
print(x)

In [ ]:
y = set([5,6,5,3,9])
print(y)

Union

In [ ]:
x|y

Intersection

In [ ]:
x&y

difference

In [ ]:
x-y

xor

In [ ]:
x^y

# Dictionaries

In [ ]:
info = {'name':'Ali', 'age':20,'occupation':'Student', 'alive?':True}

In [ ]:
info['name']

In [ ]:
info.keys()

In [ ]:
info.values()

In [ ]:
'age' in info

In [ ]:
20 in info.values()

In [ ]:
del info['Name']
print(info)

In [ ]:
info["hair_color"] = "black"
print(info)

# Functions

Here is an example that takes one variable

In [ ]:
abs(10)

Multiple variables

In [ ]:
max(10,5,-1,2)

To read more about a function, use the help function

In [ ]:
help(max)

write your own function

In [ ]:
def add_one(x):
  x+=1 
  return x

In [ ]:
add_one(1)

In [ ]:
x = 1 
add_one(x)
print(x)

In [ ]:
def find_remainder(x,y): 
  return x%y

In [ ]:
find_remainder(10,3)

In [ ]:
def divide(x,y): 
  return x//y, x%y

In [ ]:
divide(10,3)

In [ ]:
results, remainder = divide(10,3)
print(results)
print(remainder)

# Packages and Modules

So far, we have used the built-in functions in python. We can also import external functions from python packages. packages have methods and functions of their own.

## Importing a library in Python

Simple import of the famous NumPy 
https://numpy.org/

In [ ]:
import numpy

In [ ]:
numpy

installing new libraries

In [ ]:
!pip install dippykit

Numpy has many methods and functions. You can access them like this:

In [ ]:
numpy.add(1,2)

In [ ]:
add(1,2)

If you want to import a single method or function in Python, use this

In [ ]:
from numpy import add

In [ ]:
add(1,3)

If you want to import all modules in numpy, use *

In [ ]:
sin(2)

In [ ]:
from numpy import *

In [ ]:
sin(10)

You can also import a library with a custom name

In [ ]:
import numpy as np

In [ ]:
np.random.rand()

# Arrays

We will use NumPy to

In [ ]:
import numpy as np
np.array(10)

In [ ]:
np.array([10,2,4])

In [ ]:
x = np.array([10,2,4,7], dtype=float)
print(x)

In [ ]:
x[0]

In [ ]:
x[3]

In [ ]:
x[-1]

In [ ]:
x[-2]

In [ ]:
x[1:3]

In [ ]:
x[:3]

In [ ]:
x[2:]

In [ ]:
x[1:-1]

In [ ]:
np.array(['a','b'])

Array addition works with + sign (unlike with lists)

In [ ]:
np.array([1,2,3]) + np.array([2,3,4])

Vectors

In [ ]:
x = np.array([1,2])
y = np.array([[7],[3]])
print(x)
print(y)
print(x.shape)
print(y.shape)

In [ ]:
8*x

In [ ]:
print(x)

In [ ]:
new_x = 2*x
print(new_x)

What would happen here?

In [ ]:
x*y

In [ ]:
y*x

Vector/Matrix multiplication is done using @

In [ ]:
x@y

In [ ]:
y@x

or using matmul

In [ ]:
np.matmul(x,y)

Matrices are constructed the same way as vectors

In [ ]:
a_matrix = np.array([[1,2],[2,3],[5,6]])
b_matrix = np.array([[2,3],[4,3]])

print(a_matrix)
print()
print(b_matrix)

In [ ]:
a_matrix[1,1]

In [ ]:
a_matrix[0]

In [ ]:
a_matrix[0][1]

In [ ]:
a_matrix[:,1]

Transpose a matrix with .T or with .transpose

In [ ]:
print(a_matrix.T)

In [ ]:
a_matrix

In [ ]:
a_matrix*b_matrix

In [ ]:
print(a_matrix.shape)
print()
print(b_matrix.shape)

In [ ]:
a_matrix@b_matrix

In [ ]:
np.sum(a_matrix)

In [ ]:
np.sum(a_matrix, axis=0)

In [ ]:
np.sum(a_matrix,axis=1)

In [ ]:
np.sum(a_matrix,axis=1, keepdims=True)

matrix inversion

In [ ]:
c_matrix = np.array([[2,3],[4,3]])
np.linalg.inv(c_matrix)

In [ ]:
from numpy.linalg import inv
inv(c_matrix)

Let's write a function that takes matrix of any size, and find its inverse if and only if it's square and the inverse exists

In [ ]:
def find_inv(x): 
  if x.shape[0]==x.shape[1] and np.linalg.det(x)!=0: 
    return np.linalg.inv(x)
  else: 
    print("Sorry, the inverse does not exist")

In [ ]:
c_matrix = np.array([[2,3],[4,3]])
find_inv(c_matrix)

In [ ]:
c_matrix = np.array([[0,0],[4,3]])
find_inv(c_matrix)

# Plotting

We will maily use matplotlib for plotting in python. 
seaborn is also a great library for plotting (more beautiful plots)

In [ ]:
import matplotlib.pyplot as plt 
import numpy as np 

help(plt.plot)

In [ ]:
t = np.arange(0,3,0.1)
x = np.sin(2*np.pi*t)
plt.plot(t,x, 'r') 
plt.xlabel('Time (s)')
plt.ylabel('y(t)')
plt.title('A plot of sine function');

# References and Resources

[1] https://www.amazon.com/Illustrated-Guide-Python-Walkthrough-Illustrations/dp/1977921752

[2] https://t.co/0Ft6ulh7FM?amp=1

[3] https://www.youtube.com/playlist?list=PLRdABJkXXytC7Oqlw7aKquKJrh1wAgKpA